<header class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
            <div class="general_menu">
                <h3 class="text-muted">Your movies blog</h3>
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </div>
            <div class="user_menu">
                <li class="nav-item">
                    <a routerLink="/new/review" class="nav-link" href="#">Ajouter une review</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/user/reviews" class="nav-link" href="#">Gérer mes reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </div>
        </ul>
    </nav>
</header>
 
<main role="main">
    <ng-container *ngIf="post">
    <div class="jumbotron">
        <h1 class="display-3">{{post.title}}</h1>
        <p class="lead">Ecrit par {{post.author}} le {{post.date}}</p>
    </div>
    
        <div  class="review-content list-group-item list-group-item-action flex-column align-items-start m-5">
            <p class="mb-1">{{post.content}}</p>
        </div>
    
    </ng-container>
</main>
 
<footer class="footer">
    <p>&copy; Your movies 2021</p>
</footer>