<header class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
            <div class="general_menu">
                <h3 class="text-muted">Your movies blog</h3>
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </div>
            <div class="user_menu">
                <li class="nav-item">
                    <a routerLink="/new/review" class="nav-link" href="#">Ajouter une review</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/user/reviews" class="nav-link" href="#">Gérer mes reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </div>
        </ul>
    </nav>
</header>

<h1>Ecrivez votre review</h1>

<form>
    <div class="form-group">
        <label for="titleReview">Title</label>
        <input name="title" type="text" [(ngModel)]="post.title" class="form-control" id="titleReview" aria-describedby="emailHelp" placeholder="Titre de votre review">
    </div>
    <div class="form-group">
        <label for="contentReview">Votre review</label>
        <textarea name="content" [(ngModel)]="post.content" class="form-control" id="contentReview" placeholder="Review">
        </textarea>
    </div>

    <input name="author" type="hidden" [(ngModel)]="post.author" class="form-control" id="authorReview" value="">
    <input name="date" type="hidden" [(ngModel)]="post.date" class="form-control" id="authorDate" value="">


    <button type="button" (click)="addPost()" class="btn btn-primary">Ajouter</button>
</form>